.results {
    display: flex;
    justify-content: space-between;
    align-items: center;
    

}

.jedi h2 {
   
    color: red;
    font-size: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.empire h2 {
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    font-size: 48px;
}
.versus {
    font-size: 48px;
    font-family:cursive ;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px;
}