
    
    <mat-toolbar class="footer" mat-elevation-z4>
        <span>
            <i class="material-icons">
                <mat-icon>copyright</mat-icon> 
                
            </i>
            2021 - Will Feittas - Fullstack Developer Evolving
        </span>
        <div>
        <span>
            <ul class="list-social-media">
                <li><a href="https://www.linkedin.com/in/will-freittas/" target="_blank"><img class="social-media" src="assets/img/linkedin-icon.svg" alt="linkedin icon"></a></li>
                <li><a href="https://github.com/WdvOps" target="_blank"><img class="social-media" src="assets/img/github-icon.svg" alt="github icon"></a></li>
            </ul>
          
          
           
        </span>
    </div>
    </mat-toolbar>
    
