.example-card {
    max-width: 300px;
    max-height: 250px;

    margin-left: 760px;
    margin-bottom: 100;
}
  
.example-header-image {
    background-size: cover;
}
.btn-vote {
    display: flex;
    justify-content: space-between;
    margin: 0 0 0 20px ;
}

.btn-vote button {
    border: 1px solid grey;
    border-radius: 5% ;   
}
.btn-info {
    
    margin: 0 20px;
}