.example-card {
    max-width: 300px;
    height: 786px;
}
.btn-vote {
    display: flex;
    justify-content: space-between;
    margin: 0 0 0 20px ;
}

.btn-vote button {
    border: 1px solid grey;
    border-radius: 5% ;   
}
.btn-info {
    
    margin: 0 20px;
}
.card-two {
    width: 332px;
    height: 498px;
}
