.votos{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}
.votes-jedi{
    color: rgb(255, 0, 0);
}
.versus {
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    padding: 60px;
}