

<mat-toolbar class="header mat-elevation-z4">
    <span>
        <a>
            <img class="logo" src="assets/img/angular-icon.svg" alt="logo">
        </a>
    </span>
    <span class="group-title">
        S.P.A. Vote
    </span>
    <span class="group-title-2">
        <button class="btn-menu" mat-icon-button [matMenuTriggerFor]="menu">
            <i class="material-icons">more_vert</i>
        </button>
        <mat-menu #menu="matMenu">
            <a href="https://starwars.fandom.com/pt/wiki/Ordem_Jedi" target="_blank"><button mat-menu-item>Jedi Order <mat-icon class="icon-arrow">arrow_right_alt</mat-icon>
          </button></a>
          <a href="https://starwars.fandom.com/pt/wiki/Imp%C3%A9rio_Gal%C3%A1ctico" target="_blank"><button mat-menu-item>Galactic Empire<mat-icon class="icon-arrow">arrow_right_alt</mat-icon></button></a>
        </mat-menu>
    </span>
</mat-toolbar>
